$brand: #000000;
$brand-lighter: #ff4646;
$brand-darker: #460000;

$accent: #fff;


$base-light: #f6f6f6;
$base-lighter: #e1e1e1;
$base: #b7b7b7;
$base-darker: #333;
$base-dark: #272727;


$font-light: #d3d3d3;
$font-lighter: #a7a7a7;
$font: #424141;
$font-darker: #424141;
$font-dark: #000000;

$base-font: normal normal 13px/18px 'Lato', sans-serif;