<section class="section section__main">
	<nav class="nav">
		<a href="#" class="nav--item nav--item__active">
			SHOP
		</a>
		<a href="#" class="nav--item">
			SHOWCASE
		</a>
		<a href="#" class="nav--item">
			NEWS
		</a>
		<a href="#" class="nav--item">
			YOUR STYLE
		</a>
		<a href="#" class="nav--item">
			STORES
		</a>
	</nav>
	<ul class="shop--container" id="js_shop--container">
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item1
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item2
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item3
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item4
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item5
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item6
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item7
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item8
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item9
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item10
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item11
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item12
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item13
			</a>
		</li>
		<li class="shop--item">
			<a href="#" class="shop--item--link">
				Item14
			</a>
		</li>
	</ul>
	<h3 class="section--subtitle">
		<a href="#" id="js_show-more">
			SHOW ITEMS
		</a>
	</h3>
</section>