<header class="header">
	<div class="container">
		<a href="../index.html" class="logo">
			<img src="../images/logo.png" alt="Onitsuka">
		</a>
		<nav class="social">
			<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
			<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
			<a href="#" class="fa fa-linkedin" aria-hidden="true"></a>
			<a href="#" class="fa fa-twitter" aria-hidden="true"></a>
		</nav>
	</div>
</header>
<section class="hero">
	<div class="container">
	<div class="hero--container">
		<figure class="hero--img">
			
		</figure>
		<figure class="hero--img">
			
		</figure>
		<figure class="hero--img">
			
		</figure>
		
	</div>
	</div>
</section>
